@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

:root {
  --primary-color: #047aed;
  --secondprimary-color: #3b6ea1;
  --secondary-color: #ffff;
  --dark-color: #002240;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Zen Antique Soft", serif;
  color: #333;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 70px;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: aliceblue;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: aliceblue;
  background-color: #07539e;
}
/* Showcase */
.showCase {
  height: 400px;
  color: var(--secondary-color);
  position: relative;
  background-color: var(--primary-color);
}
.showCase h1 {
  font-size: 40px;
}
.showCase h2 {
  margin: 20px 0 0 30px;
}
.showCase p {
  margin: 20px 0;
}
.showCase .grid {
  grid-template-columns: 55% 44%;
  overflow: visible;
}
.showCase-form {
  position: relative;
  justify-self: flex-end;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}
.showCase-form .form-control {
  margin: 30px;
}
.showCase-form input[type="text"],
.showCase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 14px;
}
.showCase-form input:focus {
  outline: none;
}
.showCase::before,
.showCase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  transform: skewY(-2.4deg);
  -webkit-transform: skewY(-2.4deg);
  -moz-transform: skewY(-2.4deg);
}
/* stats */
.stats {
  padding: 100px;
}
.stats-heading {
  max-width: auto;
  margin: auto;
}
.stats .grid h3 {
  font-size: 25px;
}
.stats .grid p {
  font-size: 14px;
  font-weight: bold;
}
/* navbar Utility */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}
.btn {
  display: inline-block;
  padding: 5px 5px;
  margin: 0 0 0 2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn:hover {
  transform: scale(0.91);
  background-color: #07539e;
  color: aliceblue;
}
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.bg-secondary,
.btn-secondary {
  background-color: var(--secondprimary-color);
  color: var(--dark-color);
}
.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}
.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #ffff;
  justify-content: center;
  align-items: center;
}
.lead {
  font-size: 20px;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 2rem;
}
.lg {
  font-size: 3rem;
}
.xl {
  font-size: 4rem;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 2.5rem 0;
}
.my-5 {
  margin: 3rem 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 2.5rem;
}
.m-5 {
  margin: 3rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 2.5rem 0;
}
.py-5 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 2.5rem;
}
.p-5 {
  padding: 3rem;
}
/* CLI */
.cli .grid {
  font-family: "Courier New", Courier, monospace;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli img {
  margin: 0 0 0 5rem;
  max-width: 35rem;
  max-height: 25rem;
}
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}
/* Languages */
.languages .flex {
  flex-wrap: wrap;
}
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.5s ease-in;
}
.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.languages .card:hover {
  transform: translateY(1rem);
}
