@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

:root {
  --primary-color: #047aed;
  --secondprimary-color: #3b6ea1;
  --lightprimary-color: #9bc8f5;
  --secondary-color: #ffff;
  --dark-color: #002240;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Zen Antique Soft", serif;
  color: #333;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
code,
pre {
  background: #333;
  color: #ffff;
  padding: 10px;
}
/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 70px;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: aliceblue;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: aliceblue;
  background-color: #07539e;
}
/* Showcase */
.showCase {
  height: 400px;
  color: var(--secondary-color);
  position: relative;
  background-color: var(--primary-color);
}
.showCase h1 {
  font-size: 40px;
}
.showCase h2 {
  margin: 20px 0 0 30px;
}
.showCase p {
  margin: 20px 0;
}
.showCase .grid {
  grid-template-columns: 55% 44%;
  overflow: visible;
}
.showCase-text {
  animation: slideInFromLeft 1s ease-in;
}
.showCase-form {
  position: relative;
  justify-self: flex-end;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}
.showCase-form .form-control {
  margin: 30px;
}
.showCase-form input[type="text"],
.showCase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 14px;
}
.showCase-form input[type="submit"] {
  margin-left: 1.8rem;
}
.showCase-form input:focus {
  outline: none;
}
.showCase::before,
.showCase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  transform: skewY(-2.4deg);
  -webkit-transform: skewY(-2.4deg);
  -moz-transform: skewY(-2.4deg);
}
/* stats */
.stats {
  padding: 100px;
}
.stats-heading {
  max-width: auto;
  margin: auto;
}
.stats .grid h3 {
  font-size: 25px;
}
.stats .grid p {
  font-size: 14px;
  font-weight: bold;
}
/* navbar Utility */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}
.btn {
  display: inline-block;
  padding: 5px 5px;
  margin: 0 0 0 0;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn:hover {
  transform: scale(0.91);
  background-color: #07539e;
  color: aliceblue;
}
/* Background */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.bg-secondary,
.btn-secondary {
  background-color: var(--secondprimary-color);
  color: var(--dark-color);
}
.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}
.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: var(--secondary-color);
}
.bg-light,
.btn-light {
  color: var(--light-color);
}
/* Text colors */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondprimary-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-light {
  color: var(--light-color);
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #ffff;
  justify-content: center;
  align-items: center;
}
.lead {
  font-size: 20px;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 2rem;
}
.lg {
  font-size: 3rem;
}
.xl {
  font-size: 4rem;
}
.text-center {
  text-align: center;
}
.alert {
  background-color: var(--lightprimary-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}
.alert i {
  margin-right: 10px;
}
.alert-success {
  background-color: var(--success-color);
  color: var(--secondary-color);
}
.alert-error {
  background-color: var(--error-color);
  color: var(--secondary-color);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 2.5rem 0;
}
.my-5 {
  margin: 3rem 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 2.5rem;
}
.m-5 {
  margin: 3rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 2.5rem 0;
}
.py-5 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 2.5rem;
}
.p-5 {
  padding: 3rem;
}
/* CLI */
.cli .grid {
  font-family: "Courier New", Courier, monospace;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli img {
  margin: 0 0 0 5rem;
  max-width: 35rem;
  max-height: 25rem;
}
.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}
/* Languages */
.languages .flex {
  flex-wrap: wrap;
}
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.5s ease-in;
}
.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.languages .card:hover {
  transform: translateY(1rem);
}
/* Features */
.features-head img {
  width: 200px;
  justify-self: flex-end;
}
.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}
.features-main .card > i {
  margin-right: 20px;
}
.features-main .grid {
  padding: 30px;
}
.features-main .grid > *:first-child {
  grid-column: 1 / -1;
}
.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}
.features-main .grid > *:nth-child(4) {
  grid-column: 1 / -1;
}
/* Docs main */
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.docs-main h3 {
  margin: 20px 0;
  font-size: 22px;
  color: var(--secondary-color);
}
.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}
.docs-main nav li {
  font-size: 15px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}
/* About */
.about-head {
  display: flex;
}
.about-head p {
  height: auto;
  margin: 50px 0 50px 10.5rem;
}
.about-main {
  height: 90%;
  width: 80%;
  margin: 6rem 0 6rem 10rem;
}
/* Footer */
.footer .social a {
  margin: 0 10px;
}
/* Under 768px */
@media screen and (max-width: 768px) {
  .grid,
  .showCase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .stats .stats-heading {
    font-size: 14px;
  }
  .showCase {
    height: auto;
  }
  .showCase-text {
    text-align: center;
    margin: 40px 0 0 0;
  }
  .showCase-form {
    justify-self: center;
    margin: auto;
  }
  .about-head p {
    margin-left: 2.5rem;
  }
  .about-main {
    margin-left: 5.2rem;
  }
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  .cli img {
    margin-left: 0;
  }
  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }
  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }
  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}
/* Under 500px */
@media screen and (max-width: 500px) {
  .navbar {
    height: 110px;
    width: auto;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .container .stats-heading {
    display: flex;
  }
  .showcase-form {
    width: 300px;
  }
  .about-head {
    display: flex;
  }
  .about-head p {
    position: relative;
    margin-left: 1rem;
  }
  .about-main {
    margin-left: 2.5rem;
  }
  .languages .card {
    text-align: center;
    margin: 8px 6px 20px;
    transition: transform 0.5s ease-in;
  }
  .docs-main .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}
@keyframes sileInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sileInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sileInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sileInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
